
<h1>Main Menu</h1>


<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Employees List</h5>
                <p class="card-text">Click the button below to see employee list</p>
                <a asp-controller="Employees" asp-action="Index" class="btn btn-primary">Employees</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Company List</h5>
                <p class="card-text">Click the button below to see the companies list</p>
                <a asp-controller="Companies" asp-action="Index" class="btn btn-primary">Companies</a>
            </div>
        </div>
    </div>
</div>


