@model Employee[]



<h1>Employees</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id">Name: @item.Name Email Address: @item.Email</a>
        </li>
    }
</ul>

