@model IndexVM[]



<h1>Employees</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.Id" class="@(item.ShowAsHighlighted ? "text-danger" : "text")">Name: @item.Name Email Address: @item.Email</a>
        </li>
    }
</ul>
<a asp-controller="Employees" asp-action="Create" class="btn btn-primary">Create employee</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>

