@model Company


<h1> Create Company</h1>
<div class="col-3">

    <form asp-controller="Companies" asp-action="Create" method="post">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
        <br />
        <button type="submit" class="btn btn-primary" >SUBMIT</button>
    </form>
    <br />
     <a asp-controller="Companies" asp-action="Index" class="btn btn-primary">Back to Companies list</a>
</div>

<div asp-validation-summary="All"></div>
   
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}