@model Company


<h1>Companies</h1>

<p>Name: @Model.CompanyName</p>
@*<p>EmployeesList: @Model.Email</p>
*@
<a asp-controller="Companies" asp-action="Index" class="btn btn-primary">Back to Companies list</a>
